@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2"); }

@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/Gotham-Light.otf") format("opentype"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2"); }

.h-min-100 {
  min-height: 100vh; }

.main-title {
  color: #fff;
  line-height: 1;
  position: relative;
  padding-bottom: 20px; }
  .main-title .title_small {
    font-family: 'Gotham-Bold';
    font-size: 36px; }
    @media (max-width: 768px) {
      .main-title .title_small {
        font-size: 21px; } }
  .main-title .title_big {
    font-family: 'Gotham-Black';
    font-size: 48px;
    letter-spacing: 10px; }
    @media (max-width: 768px) {
      .main-title .title_big {
        font-size: 28px;
        letter-spacing: 5px; } }
  .main-title:after {
    position: absolute;
    height: 6px;
    width: 100px;
    bottom: 0px;
    content: '';
    left: calc(50% - 50px); }
  .main-title.border-yellow:after {
    background-color: #ffc20e; }
  .main-title.border-blue:after {
    background-color: #0e113b; }

body {
  position: relative; }

.nav_mobile {
  display: none;
  position: fixed;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
  z-index: 99;
  top: 0;
  bottom: 0;
  width: 100vw;
  background: url(../images/aktivitas-bg.jpg);
  background-position: center center;
  background-size: cover;
  z-index: 9; }
  .nav_mobile .nav-link {
    font-family: 'Gotham-Bold';
    font-size: 16px;
    color: #0e113a;
    text-align: center;
    line-height: 1.3;
    height: 100%;
    display: inline-block;
    margin-bottom: 1rem; }
  .nav_mobile .nav-item.active .nav-link, .nav_mobile .nav-item:hover .nav-link {
    -webkit-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
    border-bottom: 4px solid #0e113b; }
  .nav_mobile .close_wrapper {
    position: absolute;
    top: 3rem;
    right: 20%; }
  .nav_mobile .close-btn {
    padding: 0.25rem 0.375rem;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 45px; }

.show-nav-mobile {
  overflow: hidden; }
  @media (max-width: 992px) {
    .show-nav-mobile .nav_mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: translateX(0px);
      transform: translateX(0px); } }

header {
  position: absolute;
  top: 0;
  z-index: 8;
  width: 100%; }
  header .logo_wrapper {
    position: absolute;
    left: 0; }
    @media (max-width: 1200px) {
      header .logo_wrapper img {
        height: 150px; } }
    @media (max-width: 992px) and (min-width: 768px) {
      header .logo_wrapper img {
        height: 150px; } }
    @media (max-width: 768px) {
      header .logo_wrapper img {
        height: 90px; } }
    @media (max-width: 528px) {
      header .logo_wrapper img {
        height: 70px; } }
    @media (max-width: 425px) {
      header .logo_wrapper img {
        height: 50px; } }
  header .nav_top {
    padding-top: 0.75rem;
    height: 50px; }
    @media (max-width: 1200px) {
      header .nav_top {
        padding-top: 0px; } }
    header .nav_top .nav-item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .nav_top .nav-item.active .nav-link, header .nav_top .nav-item:hover .nav-link {
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
        border-bottom: 4px solid #0e113b; }
    header .nav_top .nav-login {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .nav_top .nav-login .nav-link {
        font-size: 16px;
        font-family: 'Gotham-Bold';
        margin-right: 1rem; }
        @media (max-width: 598px) {
          header .nav_top .nav-login .nav-link {
            padding: 0.375rem 0.375rem;
            font-size: 16px;
            margin: 0rem; } }
    header .nav_top .nav-link {
      padding: 0.375rem 0.375rem;
      color: #0e113b;
      font-size: 20px; }
      @media (min-width: 768px) {
        header .nav_top .nav-link {
          padding: 4px 0.75rem; } }
      @media (max-width: 598px) {
        header .nav_top .nav-link {
          line-height: 0; }
          header .nav_top .nav-link i {
            font-size: 16px; } }
    header .nav_top .navbar-toggler {
      border: 0px; }
    header .nav_top .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(14, 17, 19, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"); }
      @media (max-width: 598px) {
        header .nav_top .navbar-toggler-icon {
          width: 1.5rem;
          height: 1.5rem; } }
  header .nav_bottom .navbar-nav .nav-item {
    margin-right: 20px; }
    header .nav_bottom .navbar-nav .nav-item:last-child {
      margin-right: 0px; }
    header .nav_bottom .navbar-nav .nav-item .nav-link {
      font-family: 'Gotham-Bold';
      font-size: 16px;
      color: #0e113a;
      text-align: center;
      line-height: 1.3;
      height: 100%; }
    header .nav_bottom .navbar-nav .nav-item.active .nav-link, header .nav_bottom .navbar-nav .nav-item:hover .nav-link {
      -webkit-transition: 0.3s all ease-in;
      transition: 0.3s all ease-in;
      border-bottom: 4px solid #0e113b; }

#about {
  background-image: url("../images/tentang-bg.jpg");
  background-size: cover; }
  @media (min-width: 992px) {
    #about .main-title {
      margin-bottom: 80px; } }
  #about .content {
    font-family: 'Gotham-Book';
    font-size: 18px;
    line-height: 1.8; }
    #about .content p {
      margin-bottom: 30px; }
    @media (min-width: 992px) {
      #about .content {
        width: 80%;
        margin: 0 auto; } }
    @media (max-width: 768px) {
      #about .content {
        font-size: 16px; } }
  #about .text_wrapper {
    margin-bottom: 50px; }
  #about .pengisi_acara_wrapper {
    font-family: 'Gotham-Bold'; }
    #about .pengisi_acara_wrapper .title {
      font-size: 24px;
      margin-bottom: 30px; }
    #about .pengisi_acara_wrapper .thumb_wrapper {
      display: inline-block; }
      #about .pengisi_acara_wrapper .thumb_wrapper img {
        border-radius: 50%;
        height: 150px; }
      #about .pengisi_acara_wrapper .thumb_wrapper .name {
        margin-top: 10px;
        line-height: 1.2;
        text-transform: uppercase; }

#cara_ikutan {
  background-image: url("../images/cara-bg.jpg");
  background-size: cover; }
  @media (min-width: 992px) {
    #cara_ikutan .main-title {
      margin-bottom: 80px; } }
  #cara_ikutan .content {
    font-family: 'Gotham-Book';
    font-size: 16px;
    line-height: 1.5; }
    @media (min-width: 992px) {
      #cara_ikutan .content .margin_bottom_row {
        margin-bottom: 50px; } }
    @media (max-width: 768px) {
      #cara_ikutan .content {
        font-size: 14px; } }
    #cara_ikutan .content .top {
      position: relative; }
      #cara_ikutan .content .top .col-numbering {
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-family: 'Gotham-Black';
        font-size: 46px;
        line-height: 1;
        position: absolute;
        bottom: 0; }
        @media (max-width: 768px) {
          #cara_ikutan .content .top .col-numbering {
            font-size: 32px; } }
      #cara_ikutan .content .top .icon_wrapper {
        text-align: center; }
        #cara_ikutan .content .top .icon_wrapper img {
          margin: 0 auto; }
          @media (max-width: 768px) {
            #cara_ikutan .content .top .icon_wrapper img {
              max-height: 70px; } }
      #cara_ikutan .content .top .instagram {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-family: 'Gotham-Black';
        line-height: 1.2;
        margin-top: 10px; }
        @media (max-width: 768px) {
          #cara_ikutan .content .top .instagram {
            font-size: 18px; } }
    #cara_ikutan .content .bottom {
      text-align: center;
      margin-top: 15px;
      color: #f0ecec;
      text-transform: uppercase;
      padding: 0px 0.75rem;
      font-size: 15px; }
      #cara_ikutan .content .bottom p {
        margin-bottom: 0px; }
        #cara_ikutan .content .bottom p .orange {
          color: #ffc10e;
          font-family: 'Gotham-Medium'; }
  #cara_ikutan .text_wrapper {
    margin-bottom: 50px; }

#gallery {
  background-image: url("../images/gallery-bg.jpg");
  background-size: cover; }
  @media (min-width: 992px) {
    #gallery .main-title {
      margin-bottom: 80px; } }
  #gallery .content {
    font-family: 'Gotham-Book';
    font-size: 16px;
    line-height: 1.5; }
    @media (min-width: 992px) {
      #gallery .content .margin_bottom_row {
        margin-bottom: 50px; } }
    #gallery .content .tab_wrapper .nav {
      margin-bottom: 4rem; }
    #gallery .content .tab_wrapper .nav-item a {
      color: #fff;
      font-family: 'Gotham-Medium';
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 25px;
      display: inline-block; }
      #gallery .content .tab_wrapper .nav-item a.active, #gallery .content .tab_wrapper .nav-item a:hover {
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
        background-color: #ffcb10;
        color: #0c184d;
        border-radius: 20px;
        padding: 8px 25px;
        font-family: 'Gotham-Black'; }
    #gallery .content .tab_wrapper .tab-content .col-gallery {
      padding: 3px;
      cursor: pointer;
      position: relative; }
      #gallery .content .tab_wrapper .tab-content .col-gallery .hover {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: rgba(255, 203, 16, 0.8); }
        #gallery .content .tab_wrapper .tab-content .col-gallery .hover .icon_wrapper {
          color: #ff111e;
          font-size: 350%;
          line-height: 1.2; }
        #gallery .content .tab_wrapper .tab-content .col-gallery .hover .likers {
          font-family: 'Gotham-Bold';
          color: #000;
          font-size: 18px; }
      #gallery .content .tab_wrapper .tab-content .col-gallery:hover .hover {
        opacity: 1;
        z-index: 2;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in; }
      @media (min-width: 992px) {
        #gallery .content .tab_wrapper .tab-content .col-gallery {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%; } }
  #gallery .text_wrapper {
    margin-bottom: 50px; }

#tnc {
  background-image: url("../images/tnc-bg.jpg");
  background-size: cover; }
  #tnc .main-title {
    color: #0e113b; }
    @media (min-width: 992px) {
      #tnc .main-title {
        margin-bottom: 80px; } }
  #tnc .content {
    font-family: 'Gotham-Book';
    font-size: 16px;
    line-height: 1.5; }
    @media (min-width: 992px) {
      #tnc .content {
        width: 75%;
        margin: 0 auto; }
        #tnc .content .margin_bottom_row {
          margin-bottom: 50px; } }
    #tnc .content .list_tnc_wrapper {
      font-family: 'Gotham-Medium';
      font-size: 18px; }
      @media (max-width: 768px) {
        #tnc .content .list_tnc_wrapper {
          font-size: 16px; } }
      #tnc .content .list_tnc_wrapper ol {
        list-style: none; }
      #tnc .content .list_tnc_wrapper li {
        margin-bottom: 30px; }
        #tnc .content .list_tnc_wrapper li .numbering {
          margin-right: 20px; }
        @media (max-width: 768px) {
          #tnc .content .list_tnc_wrapper li {
            margin-bottom: 15px; } }
  #tnc .text_wrapper {
    margin-bottom: 50px; }

#aktivitas_bumn {
  background-image: url("../images/aktivitas-bg.jpg");
  background-size: cover;
  background-position: center center; }
  #aktivitas_bumn .main-title {
    color: #0e113b; }
    @media (min-width: 992px) {
      #aktivitas_bumn .main-title {
        margin-bottom: 80px; } }
  #aktivitas_bumn .content {
    font-family: 'Gotham-Book';
    font-size: 16px;
    line-height: 1.5; }
    #aktivitas_bumn .content .headings_1 {
      color: #131a5a;
      font-family: 'Gotham-Black';
      font-size: 21px;
      letter-spacing: 4px; }
    #aktivitas_bumn .content .headings_2 {
      color: #131a5a;
      font-family: 'Gotham-Black';
      font-size: 16px;
      letter-spacing: 4px; }
    #aktivitas_bumn .content p {
      color: #13174e;
      font-size: 16px;
      font-family: 'Gotham-Book';
      line-height: 1.6; }
    #aktivitas_bumn .content .col-images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #aktivitas_bumn .content .col-images img {
        border-radius: 10%; }
        @media (max-width: 992px) {
          #aktivitas_bumn .content .col-images img {
            max-height: 213px;
            width: auto !important;
            max-width: 100%; } }
    #aktivitas_bumn .content .col-karya {
      margin-bottom: 2.25rem; }
      #aktivitas_bumn .content .col-karya .row_images_karya img {
        border-radius: 10%; }
        @media (max-width: 992px) {
          #aktivitas_bumn .content .col-karya .row_images_karya img {
            max-height: 213px;
            width: auto !important;
            max-width: 100%; } }
      #aktivitas_bumn .content .col-karya .karya_bottom_wrapper {
        margin-top: 12px; }
        #aktivitas_bumn .content .col-karya .karya_bottom_wrapper .karya_name {
          font-size: 24px;
          color: #131a5a;
          font-family: 'Gotham-Black';
          line-height: 1.2;
          letter-spacing: 2px; }
          @media (max-width: 768px) {
            #aktivitas_bumn .content .col-karya .karya_bottom_wrapper .karya_name {
              font-size: 16px;
              letter-spacing: 0px; } }
      #aktivitas_bumn .content .col-karya .karya_button {
        margin-top: 8px; }
    #aktivitas_bumn .content .btn-detail {
      color: #ffc20e;
      font-family: 'Gotham-Black';
      text-transform: uppercase;
      border-radius: 20px;
      background-color: #0d1139;
      font-size: 11px;
      padding: 2px 10px;
      width: 120px; }
      #aktivitas_bumn .content .btn-detail:hover {
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
        background-color: rgba(13, 17, 57, 0.8); }
    #aktivitas_bumn .content .content_middle {
      margin-bottom: 2.5rem; }
      #aktivitas_bumn .content .content_middle .row_content_middle img {
        border-radius: 10%; }
        @media (max-width: 992px) {
          #aktivitas_bumn .content .content_middle .row_content_middle img {
            max-height: 213px;
            width: 100% !important;
            max-width: 100%; } }
      #aktivitas_bumn .content .content_middle .name_wrapper {
        font-size: 18px;
        color: #131a5a;
        font-family: 'Gotham-Black';
        line-height: 1.2;
        letter-spacing: 2px;
        margin-top: 10px; }
        @media (max-width: 768px) {
          #aktivitas_bumn .content .content_middle .name_wrapper {
            font-size: 16px;
            letter-spacing: 0px; } }
      #aktivitas_bumn .content .content_middle .btn-detail {
        margin-top: 5px; }
      #aktivitas_bumn .content .content_middle .title {
        color: #121a57;
        line-height: 1;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 30px; }
        #aktivitas_bumn .content .content_middle .title .title_small {
          font-family: 'Gotham-Bold';
          font-size: 24px; }
          @media (max-width: 768px) {
            #aktivitas_bumn .content .content_middle .title .title_small {
              font-size: 18px; } }
        #aktivitas_bumn .content .content_middle .title .title_big {
          font-family: 'Gotham-Black';
          font-size: 30px;
          letter-spacing: 5px; }
          @media (max-width: 768px) {
            #aktivitas_bumn .content .content_middle .title .title_big {
              font-size: 22px;
              letter-spacing: 1px; } }
        #aktivitas_bumn .content .content_middle .title:after {
          position: absolute;
          height: 6px;
          width: 110px;
          bottom: 0px;
          content: '';
          left: 0; }
        #aktivitas_bumn .content .content_middle .title.border-yellow:after {
          background-color: #ffc20e; }
        #aktivitas_bumn .content .content_middle .title.border-blue:after {
          background-color: #0e113b; }
    @media (min-width: 992px) {
      #aktivitas_bumn .content .content_top {
        width: 85%;
        margin: 0 auto; }
      #aktivitas_bumn .content .margin_bottom_row {
        margin-bottom: 50px; } }
  #aktivitas_bumn .text_wrapper {
    margin-bottom: 50px; }

#on_screen {
  background-color: #ffc20e;
  padding: 0px; }
  @media (max-width: 992px) {
    #on_screen.h-min-100 {
      min-height: auto; } }
  @media (max-width: 768px) {
    #on_screen.h-min-100 {
      min-height: auto; } }
  #on_screen .owl-top {
    position: relative; }
    #on_screen .owl-top .owl-dots {
      position: absolute;
      bottom: 30px;
      width: 100%; }
      #on_screen .owl-top .owl-dots .owl-dot span {
        width: 18px;
        height: 18px;
        background: transparent;
        border: 3px solid #0e113b; }
        @media (max-width: 1200px) {
          #on_screen .owl-top .owl-dots .owl-dot span {
            width: 15px;
            height: 15px;
            margin: 5px 5px; } }
        @media (max-width: 768px) {
          #on_screen .owl-top .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            margin: 5px 5px; } }
      #on_screen .owl-top .owl-dots .owl-dot.active span, #on_screen .owl-top .owl-dots .owl-dot:hover span {
        background-color: #0e113b; }
      @media (max-width: 1200px) {
        #on_screen .owl-top .owl-dots {
          bottom: 15px; } }
      @media (max-width: 768px) {
        #on_screen .owl-top .owl-dots {
          bottom: 10px; } }
      @media (max-width: 598px) {
        #on_screen .owl-top .owl-dots {
          bottom: 3px; } }
  #on_screen .banner_wrapper {
    background-size: cover;
    background-position: center center;
    height: auto; }
    @media (max-width: 1200px) {
      #on_screen .banner_wrapper {
        background-position: center center; } }
    @media (max-width: 992px) {
      #on_screen .banner_wrapper {
        height: auto; } }
    @media (max-width: 768px) {
      #on_screen .banner_wrapper {
        height: auto; } }
    @media (max-width: 528px) {
      #on_screen .banner_wrapper {
        height: auto; } }
    @media (max-width: 375px) {
      #on_screen .banner_wrapper {
        padding-bottom: 10px; } }
    #on_screen .banner_wrapper > .container {
      height: 100%; }
      #on_screen .banner_wrapper > .container > .row {
        height: 100%; }
        #on_screen .banner_wrapper > .container > .row .col-banner {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
    #on_screen .banner_wrapper .top {
      font-family: 'Gotham-Black';
      font-size: 48px;
      color: #0d1139;
      line-height: 1;
      letter-spacing: 12px;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 30px; }
      #on_screen .banner_wrapper .top:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.5px;
        background-color: #0e113b;
        width: 65%;
        content: ''; }
      @media (max-width: 992px) {
        #on_screen .banner_wrapper .top {
          font-size: 32px; } }
      @media (max-width: 768px) {
        #on_screen .banner_wrapper .top {
          font-size: 28px;
          margin-bottom: 15px;
          padding-bottom: 15px; } }
    #on_screen .banner_wrapper .middle .event_name {
      text-transform: uppercase;
      font-family: 'Gotham-Black';
      font-size: 24px;
      color: #0d1139;
      line-height: 1;
      letter-spacing: 5px;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        #on_screen .banner_wrapper .middle .event_name {
          font-size: 18px; } }
      @media (max-width: 768px) {
        #on_screen .banner_wrapper .middle .event_name {
          font-size: 16px; } }
    #on_screen .banner_wrapper .middle .event_tagline {
      color: #0e113a;
      font-family: 'Gotham-Light';
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 30px; }
      @media (max-width: 992px) {
        #on_screen .banner_wrapper .middle .event_tagline {
          font-size: 21px; } }
      @media (max-width: 768px) {
        #on_screen .banner_wrapper .middle .event_tagline {
          font-size: 18px; } }
    #on_screen .banner_wrapper .bottom {
      font-size: 24px;
      color: #0e113a;
      font-family: 'Gotham-Black'; }
      @media (max-width: 992px) {
        #on_screen .banner_wrapper .bottom {
          font-size: 20px; } }
      @media (max-width: 768px) {
        #on_screen .banner_wrapper .bottom {
          font-size: 16px; } }

.white-text {
  color: #fff; }

.blue-text {
  color: #0e113b; }

.copyright {
  background-color: #0d0d0d;
  color: #fff;
  font-size: 12px;
  padding: 10px 0px;
  text-align: center; }

.main_wrapper {
  padding: 3rem 0px; }
  @media (max-width: 1024px) {
    .main_wrapper {
      background-position: center center; } }
  @media (max-width: 992px) {
    .main_wrapper .main-title {
      margin-bottom: 4rem; } }

.powered_by {
  background-image: url("../images/powered-bg.jpg");
  background-size: cover;
  background-position: center center; }
  .powered_by .title {
    text-align: center;
    color: #fff;
    font-family: 'Gotham-Bold';
    font-size: 18px;
    margin-bottom: 30px; }
  .powered_by .logo_powered_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .powered_by .logo {
    display: inline-block; }
    @media (max-width: 389px) {
      .powered_by .logo {
        width: 47%; }
        .powered_by .logo .mr-3 {
          margin-right: 0.5rem !important; } }

.modal_login {
  display: none;
  max-width: 600px;
  background-image: url("../images/modal-bg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media (min-width: 992px) {
    .modal_login {
      width: 600px;
      padding: 50px; } }
  .modal_login .main-title {
    margin-bottom: 4rem; }
    @media (max-width: 768px) {
      .modal_login .main-title {
        margin-bottom: 30px; } }
    .modal_login .main-title .title_small {
      letter-spacing: 5px;
      font-size: 32px; }
      @media (max-width: 768px) {
        .modal_login .main-title .title_small {
          font-size: 24px; } }
  .modal_login .close-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
    .modal_login .close-btn a {
      color: #fff;
      font-size: 30px;
      line-height: 0;
      text-decoration: none; }
      .modal_login .close-btn a:hover {
        color: #ffc20e;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in; }
  @media (min-width: 992px) {
    .modal_login .form_wrapper {
      width: 80%;
      margin: 0 auto; } }
  .modal_login .form_wrapper .form-group {
    position: relative;
    margin-bottom: 2.5rem; }
  .modal_login .form_wrapper label {
    position: absolute;
    top: 5px;
    left: 0;
    text-transform: uppercase;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    pointer-events: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Gotham-Book';
    text-transform: uppercase; }
  .modal_login .form_wrapper .form-control {
    position: relative;
    background-color: transparent !important;
    height: 40px;
    margin: 0 !important;
    padding: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #fff; }
    .modal_login .form_wrapper .form-control:focus ~ label, .modal_login .form_wrapper .form-control:valid ~ label {
      top: -18px;
      font-size: 12px; }
  .modal_login .form_wrapper .btn-main {
    color: #0e113b;
    font-family: 'Gotham-Bold';
    background-color: #ffc20e;
    border-radius: 0px;
    outline: 0;
    font-size: 21px; }
    .modal_login .form_wrapper .btn-main:hover {
      background-color: #ffd553;
      -webkit-transition: 0.3s all ease-in;
      transition: 0.3s all ease-in; }
  .modal_login .form_wrapper .form_text {
    color: #fff;
    font-size: 18px;
    font-family: 'Gotham-Book';
    text-align: center; }
    .modal_login .form_wrapper .form_text a {
      color: #fff; }
      .modal_login .form_wrapper .form_text a:hover {
        color: #ffc20e;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in; }

.fancybox-slide--image {
  padding-bottom: 60px !important; }

.fancybox-caption {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  bottom: auto;
  text-align: right;
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .fancybox-caption:before {
    background: 0 0; }
  .fancybox-caption:after {
    border-bottom: 0; }
  .fancybox-caption.none {
    display: none; }
  .fancybox-caption .caption_name {
    display: inline-block;
    margin-right: 2rem;
    font-size: 16px;
    font-family: 'Gotham-Book'; }
  .fancybox-caption .fancybox-vote {
    display: inline-block; }
    .fancybox-caption .fancybox-vote .btn-main {
      color: #0e113b !important;
      font-family: 'Gotham-Bold';
      background-color: #ffc20e;
      border-radius: 0px;
      outline: 0;
      font-size: 16px;
      width: 180px;
      line-height: 1.2; }
      .fancybox-caption .fancybox-vote .btn-main:hover {
        background-color: #ffd553;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in; }
  .fancybox-caption .image_width {
    width: calc(100% - 20px); }
    .fancybox-caption .image_width .caption_name {
      float: left; }
    .fancybox-caption .image_width .fancybox-vote {
      float: right; }
