@import 'mixin';
@include font-face('Gotham-Book', '../fonts/Gotham-Book');
@include font-face('Gotham-Medium', '../fonts/Gotham-Medium');
@include font-face('Gotham-Bold', '../fonts/Gotham-Bold');
@include font-face('Gotham-Light', '../fonts/Gotham-Light');
@include font-face('Gotham-Black', '../fonts/Gotham-Black');

.h-min-100{
	min-height:100vh;
}
.main-title{
	color:#fff;
	line-height:1;
	position:relative;
	padding-bottom:20px;
	.title_small{
		font-family:'Gotham-Bold';
		font-size:36px;
		@media(max-width:768px){
			font-size:21px;
		}
	}
	.title_big{
		font-family:'Gotham-Black';
		font-size:48px;
		letter-spacing:10px;
		@media(max-width:768px){
			font-size:28px;
			letter-spacing:5px;
		}
	}
	&:after{
		position:absolute;
		height:6px;
		width:100px;
		bottom:0px;
		content:'';
		left:calc(50% - 50px);
	}
	&.border-yellow{
		&:after{
			background-color:#ffc20e;
		}
	}
	&.border-blue{
		&:after{
			background-color:#0e113b;
		}
	}
}
body{
	position:relative;
}
.nav_mobile{
	display:none;
	position: fixed;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    transition: 0.5s all ease-in;
    z-index: 99;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: url(../images/aktivitas-bg.jpg);
    background-position: center center;
    background-size: cover;
    z-index:9;
	.nav-link{
		font-family:'Gotham-Bold';
		font-size:16px;
		color:#0e113a;
		text-align:center;
		line-height:1.3;
		height:100%;
		display:inline-block;
		margin-bottom:1rem;
	}
	.nav-item{
		&.active,&:hover{
			.nav-link{
				transition:0.3s all ease-in;
				border-bottom:4px solid #0e113b;
			}
		}
	}

    .close_wrapper{
    	position: absolute;
	    top: 3rem;
	    right: 20%;
    }
    .close-btn{
	    padding: 0.25rem 0.375rem;
	    text-align: center;
	    display: block;
	    color: #fff;
	    font-size: 45px;
    }
}

.show-nav-mobile{
	overflow:hidden;
	.nav_mobile{
		@media(max-width:992px){
			display: flex;
    		align-items: center;
			transform: translateX(0px);
		}
	}
}
header{
	position:absolute;
	top:0;
	z-index:8;
	width:100%;
	.logo_wrapper{
		position:absolute;
		left:0;
		@media(max-width:1200px){
			img{
				height:150px;
			}
		}
		@media(max-width:992px) and (min-width:768px){
			img{
				height:150px;
			}
		}
		@media(max-width:768px){
			img{
				height:90px;
			}
		}
		@media(max-width:528px){
			img{
				height:70px;
			}
		}
		@media(max-width:425px){
			img{
				height:50px;
			}
		}
	}
	.nav_top{
		padding-top:0.75rem;
		height:50px;
		@media(max-width:1200px){
			padding-top:0px;
		}
		.nav-item{
			align-items: center;
    		display: flex;
			&.active,&:hover{
				.nav-link{
					transition:0.3s all ease-in;
					border-bottom:4px solid #0e113b;
				}
			}
		}
		.nav-login{
			align-items: center;
    		display: flex;
    		.nav-link{
			    font-size: 16px;
			    font-family: 'Gotham-Bold';
			    margin-right: 1rem;
			    @media(max-width:598px){
			    	padding:0.375rem 0.375rem;
			    	font-size:16px;
			    	margin:0rem;
			    }
    		}
		}
		.nav-link{
			padding:0.375rem 0.375rem;
			@media(min-width:768px){
				padding:4px 0.75rem;				
			}
			color:#0e113b;
			font-size:20px;
			@media(max-width:598px){
				line-height:0;
				i{
					font-size:16px;
				}
			}
		}
		.navbar-toggler{
			border:0px;
		}
		.navbar-toggler-icon{
			background-image:url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(14, 17, 19, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
			@media(max-width:598px){
				width:1.5rem;
				height:1.5rem;
			}
		}
	}
	.nav_bottom{
		.navbar-nav{
			.nav-item{
				margin-right:20px;
				&:last-child{
					margin-right:0px;
				}
				.nav-link{
					font-family:'Gotham-Bold';
					font-size:16px;
					color:#0e113a;
					text-align:center;
					line-height:1.3;
					height:100%;
				}
				&.active,&:hover{
					.nav-link{
						transition:0.3s all ease-in;
						border-bottom:4px solid #0e113b;
					}
				}
			}
		}
	}
}
#about{
	background-image:url('../images/tentang-bg.jpg');
	background-size:cover;
	.main-title{
		@media(min-width:992px){
			margin-bottom:80px;
		}
	}
	.content{
		font-family:'Gotham-Book';
		font-size:18px;
		line-height:1.8;
		p{
			margin-bottom:30px;
		}
		@media(min-width:992px){
			width:80%;
			margin:0 auto;
		}
		@media(max-width:768px){
			font-size:16px;
		}
	}
	.text_wrapper{
		margin-bottom:50px;
	}
	.pengisi_acara_wrapper{
		font-family:'Gotham-Bold';
		.title{
			font-size:24px;
			margin-bottom:30px;
		}
		.thumb_wrapper{
			display:inline-block;
			img{
				border-radius:50%;
				height:150px;
			}
			.name{
				margin-top:10px;
				line-height:1.2;
				text-transform:uppercase;
			}
		}
	}
}
#cara_ikutan{
	background-image:url('../images/cara-bg.jpg');
	background-size:cover;
	.main-title{
		@media(min-width:992px){
			margin-bottom:80px;
		}
	}
	.content{
		font-family:'Gotham-Book';
		font-size:16px;
		line-height:1.5;
		@media(min-width:992px){
			.margin_bottom_row{
				margin-bottom:50px;				
			}
		}
		@media(max-width:768px){
			font-size:14px;
		}
		.top{
			position:relative;
			.col-numbering{
				align-self:flex-end;
				font-family:'Gotham-Black';
				font-size:46px;
				line-height:1;
				position:absolute;
				bottom:0;
				@media(max-width:768px){
					font-size:32px;
				}
			}
			.icon_wrapper{
				text-align:center;
				img{
					margin:0 auto;
					@media(max-width:768px){
						max-height:70px;
					}
				}
			}
			.instagram{
				text-transform:uppercase;
				text-align:center;
				font-size:24px;
				font-family:'Gotham-Black';
				line-height:1.2;
				margin-top:10px;

				@media(max-width:768px){
					font-size:18px;
				}
			}
		}
		.bottom{
			text-align:center;
			margin-top:15px;
			color:#f0ecec;
			text-transform:uppercase;
		    padding: 0px 0.75rem;
		    font-size:15px;
			p{
				margin-bottom:0px;
				.orange{
					color:#ffc10e;
					font-family:'Gotham-Medium';
				}
			}
		}
	}
	.text_wrapper{
		margin-bottom:50px;
	}
}
#gallery{
	background-image:url('../images/gallery-bg.jpg');
	background-size:cover;
	.main-title{
		@media(min-width:992px){
			margin-bottom:80px;
		}
	}
	.content{
		font-family:'Gotham-Book';
		font-size:16px;
		line-height:1.5;
		@media(min-width:992px){
			.margin_bottom_row{
				margin-bottom:50px;				
			}
		}
		.tab_wrapper{
			.nav{
				margin-bottom:4rem;
			}
			.nav-item{
				a{
					color:#fff;
					font-family:'Gotham-Medium';
					font-size:18px;
					text-transform:uppercase;
					padding:10px 25px;
					display:inline-block;
					&.active,&:hover{
						transition:0.3s all ease-in;
						background-color:#ffcb10;
						color:#0c184d;
					    border-radius: 20px;
					    padding: 8px 25px;
						font-family:'Gotham-Black';
					}
				}
			}
			.tab-content{
				.col-gallery{
					padding:3px;
					cursor:pointer;
					position:relative;
					.hover{	
						opacity:0;
						z-index:-1;
						position:absolute;
						top:3px;
						bottom:3px;
						left:3px;
						right:3px;
					    display: flex;
					    flex-direction: column;
					    justify-content: center;
					    align-items: center;
					    background:rgba(255, 203, 16,0.8);
						.icon_wrapper{
							color:#ff111e;    
							font-size: 350%;
							line-height:1.2;
						}
						.likers{
							font-family:'Gotham-Bold';
							color:#000;
							font-size:18px;
						}
					}
					&:hover{
						.hover{
							opacity:1;
							z-index:2;
							transition:0.3s all ease-in;
						}
					}
					@media (min-width: 992px){
						-webkit-box-flex: 0;
					    -ms-flex: 0 0 20%;
					    flex: 0 0 20%;
					    max-width: 20%;
					}
				}
			}
		}
	}
	.text_wrapper{
		margin-bottom:50px;
	}
}
#tnc{
	background-image:url('../images/tnc-bg.jpg');
	background-size:cover;
	.main-title{
		color:#0e113b;
		@media(min-width:992px){
			margin-bottom:80px;
		}
	}
	.content{
		font-family:'Gotham-Book';
		font-size:16px;
		line-height:1.5;
		@media(min-width:992px){
			width:75%;
			margin:0 auto;
			.margin_bottom_row{
				margin-bottom:50px;				
			}
		}
		.list_tnc_wrapper{
			font-family:'Gotham-Medium';
			font-size:18px;
			@media(max-width:768px){
				font-size:16px;
			}
			ol{
				list-style:none;
			}
			li{
				margin-bottom:30px;
				.numbering{
					margin-right:20px;
				}
				@media(max-width:768px){
					margin-bottom:15px;
				}
			}
		}
	}
	.text_wrapper{
		margin-bottom:50px;
	}
}
#aktivitas_bumn{
	background-image:url('../images/aktivitas-bg.jpg');
	background-size:cover;
	background-position: center center;
	.main-title{
		color:#0e113b;
		@media(min-width:992px){
			margin-bottom:80px;
		}
	}
	.content{
		font-family:'Gotham-Book';
		font-size:16px;
		line-height:1.5;
		.headings_1{
			color:#131a5a;
			font-family:'Gotham-Black';
			font-size:21px;
			letter-spacing:4px;
		}
		.headings_2{
			color:#131a5a;
			font-family:'Gotham-Black';
			font-size:16px;
			letter-spacing:4px;
		}
		p{
			color:#13174e;
			font-size:16px;
			font-family:'Gotham-Book';
			line-height:1.6;
		}
		.col-images{
			display:flex;
			align-items:center;
			img{
				border-radius: 10%;
				@media(max-width:992px){
					max-height:213px;
					width:auto !important;
					max-width:100%;
				}
			}
		}
		.col-karya{
			margin-bottom:2.25rem;
			.row_images_karya{
				img{
					border-radius: 10%;
					@media(max-width:992px){
						max-height:213px;
						width:auto !important;
						max-width:100%;
					}
				}
			}
			.karya_bottom_wrapper{
				margin-top:12px;
				.karya_name{
					font-size:24px;
					color:#131a5a;
					font-family:'Gotham-Black';
					line-height:1.2;
					letter-spacing:2px;
					@media(max-width:768px){
						font-size:16px;
						letter-spacing:0px;
					}
				}
			}
			.karya_button{
				margin-top:8px;
			}
		}
		.btn-detail{
			color:#ffc20e;
			font-family:'Gotham-Black';
			text-transform:uppercase;
			border-radius:20px;
			background-color:#0d1139;
			font-size:11px;
		    padding: 2px 10px;
		    width: 120px;
		    &:hover{
		    	transition:0.3s all ease-in;
		    	background-color:rgba(13, 17, 57,0.8);
		    }
		}
		.content_middle{
			margin-bottom:2.5rem;
			.row_content_middle{
				img{
					border-radius: 10%;
					@media(max-width:992px){
						max-height:213px;
						width:100% !important;
						max-width:100%;
					}
				}
			}
			.name_wrapper{
				font-size:18px;
				color:#131a5a;
				font-family:'Gotham-Black';
				line-height:1.2;
				letter-spacing:2px;
				margin-top:10px;
				@media(max-width:768px){
					font-size:16px;
					letter-spacing:0px;
				}
			}
			.btn-detail{
				margin-top:5px;
			}
			.title{
				color:#121a57;
				line-height:1;
				position:relative;
				padding-bottom:15px;
				margin-bottom:30px;
				.title_small{
					font-family:'Gotham-Bold';
					font-size:24px;
					@media(max-width:768px){
						font-size:18px;
					}
				}
				.title_big{
					font-family:'Gotham-Black';
					font-size:30px;
					letter-spacing:5px;
					@media(max-width:768px){
						font-size:22px;
						letter-spacing:1px;
					}
				}
				&:after{
					position:absolute;
					height:6px;
					width:110px;
					bottom:0px;
					content:'';
					left:0;
				}
				&.border-yellow{
					&:after{
						background-color:#ffc20e;
					}
				}
				&.border-blue{
					&:after{
						background-color:#0e113b;
					}
				}
			}
		}
		@media(min-width:992px){
			.content_top{
				width:85%;
				margin:0 auto;				
			}
			.margin_bottom_row{
				margin-bottom:50px;				
			}
		}
	}
	.text_wrapper{
		margin-bottom:50px;
	}
}
#on_screen{
	background-color:#ffc20e;
	padding:0px;
	&.h-min-100{
		@media(max-width:992px){
			min-height:auto;
		}
		@media(max-width:768px){
			min-height:auto;
		}
	}
	.owl-top{
		position:relative;
		.owl-dots{
			position:absolute;
			bottom:30px;
			width:100%;
			.owl-dot{
				span{
					width: 18px;
    				height: 18px;
    				background:transparent;
    				border:3px solid #0e113b;
    				@media(max-width:1200px){
						width: 15px;
	    				height: 15px;
	    				margin:5px 5px;	
    				}
    				@media(max-width:768px){
						width: 10px;
	    				height: 10px;
	    				margin:5px 5px;	
    				}
				}
				&.active span,&:hover span{
					background-color:#0e113b;
				}
			}
			@media(max-width:1200px){
				bottom:15px;
			}
			@media(max-width:768px){
				bottom:10px;
			}
			@media(max-width:598px){
				bottom:3px;
			}
		}
	}
	.banner_wrapper{
		background-size:cover;
		background-position:center center;
		height:auto;
		@media(max-width:1200px){
			background-position:center center;
		}
		@media(max-width:992px){
			height:auto;
		}
		@media(max-width:768px){
			height:auto;
		}
		@media(max-width:528px){
			height:auto;
		}
		@media(max-width:375px){
			padding-bottom:10px;
		}
		&>.container{
			height:100%;
			&>.row{
				height:100%;
				.col-banner{
				    display: flex;
				    flex-direction: column;
				    justify-content: center;
				}
			}
		}
		.top{
			font-family:'Gotham-Black';
			font-size:48px;
			color:#0d1139;
			line-height:1;
			letter-spacing:12px;
			position:relative;
			padding-bottom:30px;
			margin-bottom:30px;
			&:after{
				position:absolute;
				bottom:0;
				left:0;
				height:0.5px;
				background-color:#0e113b;
				width:65%;
				content:'';
			}
			@media(max-width:992px){
				font-size:32px;
			}
			@media(max-width:768px){
				font-size:28px;
				margin-bottom:15px;
				padding-bottom:15px;
			}
		}
		.middle{
			.event_name{
				text-transform:uppercase;
				font-family:'Gotham-Black';
				font-size:24px;
				color:#0d1139;
				line-height:1;
				letter-spacing:5px;
				margin-bottom:10px;
				@media(max-width:992px){
					font-size:18px;
				}
				@media(max-width:768px){
					font-size:16px;
				}
			}
			.event_tagline{
				color:#0e113a;
				font-family:'Gotham-Light';
				font-size:30px;
				line-height:1.2;
				margin-bottom:30px;
				@media(max-width:992px){
					font-size:21px;
				}
				@media(max-width:768px){
					font-size:18px;
				}
			}
		}
		.bottom{
			font-size:24px;
			color:#0e113a;
			font-family:'Gotham-Black';
			@media(max-width:992px){
				font-size:20px;
			}
			@media(max-width:768px){
				font-size:16px;
			}
		}
	}
}
.white-text{
	color:#fff;
}
.blue-text{
	color:#0e113b;
}
.copyright{
	background-color:#0d0d0d;
	color:#fff;
	font-size:12px;
	padding:10px 0px;
	text-align:center;
}
.main_wrapper{
	padding:3rem 0px;
	@media(max-width:1024px){
	    background-position: center center;
	}
	@media(max-width:992px){
		.main-title{
			margin-bottom:4rem;
		}
	}
}
.powered_by{
	background-image:url('../images/powered-bg.jpg');
	background-size:cover;
	background-position: center center;
	.title{
		text-align:center;
		color:#fff;
		font-family:'Gotham-Bold';
		font-size:18px;
		margin-bottom:30px;
	}
	.logo_powered_wrapper{
		display: flex;
		align-items: center;
	}
	.logo{
		display:inline-block;
		@media(max-width:389px){
			width:47%;
			.mr-3{
				margin-right:0.5rem !important;
			}
		}
	}
}
.modal_login{
	display: none;
	max-width:600px;
	background-image:url('../images/modal-bg.jpg');
	background-position:center center;
	background-size:cover;
	position:relative;
	@media(min-width:992px){
		width:600px;
		padding:50px;
	}
	.main-title{
		margin-bottom:4rem;
		@media(max-width:768px){
			margin-bottom:30px;
		}
		.title_small{
		    letter-spacing: 5px;
		    font-size: 32px;
			@media(max-width:768px){
				font-size:24px;
			}
		}
	}
	.close-btn{
		position:absolute;
		top:20px;
		right:20px;
		a{
			color:#fff;
		    font-size: 30px;
		    line-height: 0;
		    text-decoration: none;
			&:hover{
				color:#ffc20e;
				transition:0.3s all ease-in;
			}
		}
	}
	.form_wrapper{
		@media(min-width:992px){
			width:80%;
			margin:0 auto;
		}
		.form-group{
			position:relative;
			margin-bottom:2.5rem;
		}
		label{
			position: absolute;
		    top: 5px;
		    left: 0;
		    text-transform: uppercase;
		    -webkit-transition: all .2s ease;
		    -moz-transition: all .2s ease;
		    -o-transition: all .2s ease;
		    transition: all .2s ease;
		    pointer-events: none;
		    color:#fff;
		    font-size:18px;
		    font-family:'Gotham-Book';
		    text-transform:uppercase;
		}
		.form-control{
			position: relative;
		    background-color: transparent!important;
		    height: 40px;
		    margin: 0!important;
		    padding: 0;
		    box-shadow: none!important;
		    font-size: 18px;
		    color: #fff;
		    outline: none;
		    border: 0;
		    border-radius: 0px;
		    border-bottom: 1px solid #fff;
		    &:focus~label,&:valid~label{
		    	top: -18px;
    			font-size: 12px;
		    }
		}
		.btn-main{
			color:#0e113b;
			font-family:'Gotham-Bold';
			background-color:#ffc20e;
			border-radius:0px;
			outline:0;
			font-size:21px;
			&:hover{
				background-color:#ffd553;
				transition:0.3s all ease-in;
			}
		}
		.form_text{
			color:#fff;
			font-size:18px;
			font-family:'Gotham-Book';
			text-align:center;
			a{
				color:#fff;
				&:hover{
					color:#ffc20e;
					transition:0.3s all ease-in;
				}
			}
		}
	}
}
.fancybox-slide--image{
	padding-bottom:60px !important;
}
.fancybox-caption {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    bottom: auto;
    text-align: right;
    min-width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
	&:before {
	    background: 0 0;
	}
	&:after {
	    border-bottom: 0;
	}
	&.none {
	    display: none;
	}
	.caption_name{
		display:inline-block;
		margin-right:2rem;
		font-size:16px;
		font-family:'Gotham-Book';
	}
	.fancybox-vote{
		display:inline-block;
		.btn-main{
			color:#0e113b !important;
			font-family:'Gotham-Bold';
			background-color:#ffc20e;
			border-radius:0px;
			outline:0;
			font-size:16px;
			width:180px;
			line-height:1.2;
			&:hover{
				background-color:#ffd553;
				transition:0.3s all ease-in;
			}
		}
	}
	.image_width{
		width:calc(100% - 20px);
		.caption_name{
			float:left;
		}
		.fancybox-vote{
			float:right;
		}
	}
}