// =============================================================================
// MIXIN
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf woff woff2) {
	$src: null;

	$extmods: (
		eot: "?",
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype",
		woff: "woff",
		woff2: "woff2"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin set-main-button($bgcolor, $color, $radius: 20px) {
	background-color: $bgcolor;
	color: $color;
	border:1px solid $maingreen;
	padding:6px 25px;
	border-radius: $radius;
	cursor:pointer;
}

@mixin set-submit-button($bgcolor, $color, $radius: 20px) {
	background-color: $bgcolor;
	color: $color;
	border:1px solid $maingreen;
	padding:10px 25px;
	border-radius: $radius;
	cursor:pointer;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}